.searchPage__header{
    display: flex;
    /* align-items: center; */
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff;
    padding: 30px;
    border-bottom: 1px solid lightgray;
}

.searchPage__logo{
    object-fit: contain;
    height: 50px;
    /* padding: 15px; */
    margin-right: 50px;
}

.searchPage__headerBody > .search > .search__input{
    margin-top: 0;
    width: unset;
    margin: unset;
    max-width: unset;
}

.searchPage__options{
    disp
}