.search{
    display: flex;
    align-self: center;
}

.search__input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 99px;
    padding: 5px 10px;
}

.search__input > input{
    border:none;
    outline-width: 0;
}

.search__input > .search__icon{
    color: gray;
}